body {
    background: rgb(140, 140, 150);
    color: rgb(20, 14, 14);
    margin-top: 80px;
}

h1, h2, h3, h4, h5, h6 {
    color: darkslateblue;
}

.bg-steel {
    background-color: coral;
}

.article-metadata{
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid blueviolet;
}

.article-title {
    color:darkgoldenrod;
}

.article-title:hover{
    white-space: pre-line;
    color: chartreuse;
}

.article-content {
    white-space: pre-line;
    color:olive
}

.content-section {
    background: whitesmoke;
    padding: 10px 20px;
    border: 1px solid darkcyan;
    border-radius: 5px;
    margin-bottom: 20px;
}

.site-header .navbar-nav .nav-link {
    color: wheat;
}

.site-header .navbar-nav .nav-link:hover {
    color: white;
}

.site-header .navbar-nav .nav-link:active {
    font-weight: 500;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
  }

  .article-img {
    height: 65px;
    width: 65px;
}